@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

body {
  font-family: 'Asap', sans-serif;
}

main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  text-align: left;
  margin-bottom: 1vh;
}

